body {

/* Got the colors from kuler website, set is called Japanese Garden */
	font family: Arial;
	background-color: #D8CAA8;
	color: #363942;
	}
	
h1{
	color: rgb(92,131,47);
	background-color:#363942;

	}	
	/*Used the color from kuler website and translated it into hsla for use as background 
	color*/
h2 {
	color: #382513;
	background-color:hsla(88, 47%, 35%, 1);
	}
ol{
	background-color: red;
	opacity:0.4;

}

	